
<div class="col-sm-12 noPadding" style="margin-bottom:50px;">
    <div class="col-sm-4 col-sm-offset-1">
        <div class="jumbotron whiteBACKGROUND" st>
            <h1 class="text-center greyblueCOLOR">Learn More</h1>
            <p class="text-center blackCOLOR">Getting started with Cash Flow Organizer is simple and easy.</p>
        </div>
    </div>  

    <div class="col-sm-4 col-sm-offset-1" style="margin-top:95px;">
        <a href="@Url.Action("Index", "SignUp")" class="btn btn-lg btn-block btnHover whiteCOLOR orangeredBACKGROUND roundBORDER">Sign Up - Free To Use</a>
        @*<h3 class="text-center lightgreyCOLOR">Only $4.95 a month</h3>*@
    </div>
</div>

<div class="col-sm-12 noPadding" style="margin-bottom: 125px;">
    <div class="col-sm-3 col-sm-offset-1" style="padding-top:7%;">
        <h1 class="text-center greyblueCOLOR">First Step</h1>
        <h3 class="text-center lightgreyCOLOR">Income and Expenses</h3>
        <ul>
            <li class="font150">Enter any income you earn, along with how much you are paid and the frequency when you are paid. This can be monthly, semi-monthly, bi-weekly, weekly or daily.</li>
            <li class="font150">Enter any expenses you have, along with the amount and when the frequency of which they occur.</li>
        </ul>
    </div>
    <div class="col-sm-7">
        <img class="img-responsive imgBorder" src="~/Content/images/IncomeExpense.jpg" />
    </div>
</div>

<div class="col-sm-12 noPadding" style="margin-bottom: 125px;">
    <div class="col-sm-7 col-sm-offset-1">
        <img class="img-responsive imgBorder" src="~/Content/images/FinancialAccounts.jpg" />
    </div>
    <div class="col-sm-3" style="padding-top:5%;">
        <h1 class="text-center greyblueCOLOR">Second Step</h1>
        <h3 class="text-center lightgreyCOLOR">Finanical Accounts</h3>
        <ul>
            <li class="font150">Enter any financial account you have. Such as bank or credit card accounts.</li>
            <li class="font150">Don't worry, we do not request any bank or credit card information.</li>            
        </ul>
    </div>    
</div>

<div class="col-sm-12 noPadding" style="margin-bottom: 125px;">
    <div class="col-sm-3 col-sm-offset-1" style="padding-top:7%;">
        <h1 class="text-center greyblueCOLOR">That's it!</h1>
        <h3 class="text-center lightgreyCOLOR">Once your initial setup is complete, Cash Flow Organizer takes your information and displays it all in one place on your dashboard.</h3>
        <ul>
            <li class="font150">Monthly, Weekly, and Daily Cash Flow Analysis</li>
            <li class="font150">Today's and Upcoming Expenses</li>
            <li class="font150">And other relavent information, such as your available funds, how much money you have saved, and your average monthly cash flow.</li>
        </ul>
    </div>
    <div class="col-sm-7">
        <img class="img-responsive imgBorder" src="~/Content/images/DashboardRevised.jpg" />
    </div>
</div>

<div class="col-sm-12 noPadding" style="margin-bottom: 125px;">
    <div class="col-sm-7 col-sm-offset-1">
        <img class="img-responsive imgBorder" src="~/Content/images/CashFlowMonth.jpg" />
       
    </div>
    <div class="col-sm-3" style="padding-top:10%;">
        <h1 class="text-center greyblueCOLOR">Monthly Cash Flow</h1>
        <h3 class="text-center lightgreyCOLOR">View all of your income and expenses for each month</h3>
        <ul>
            <li class="font150">Know exactly what your bank account balances will be at the end of each month.</li>            
        </ul>
    </div>
</div>

<div class="col-sm-12 noPadding" style="margin-bottom: 125px;">
    <div class="col-sm-3 col-sm-offset-1" style="padding-top:8%;">
        <h1 class="text-center greyblueCOLOR">Daily Cash Flow</h1>
        <h3 class="text-center lightgreyCOLOR">View all of your income and expenses for each day</h3>
        <ul>
            <li class="font150">Know exactly what your bank account balances will be at any given date.</li>
            <li class="font150">Know exactly when your expenses will occur and how your bank account balances will be affected.</li>
            <li class="font150">Tight on money? Know exactly when your bank account balances will be low or in the negative, months before hand.</li>
        </ul>
    </div>
    <div class="col-sm-7">
        <img class="img-responsive imgBorder" src="~/Content/images/CashFlowDay.jpg" />
       
    </div>
</div>

<div class="col-sm-12 noPadding" style="margin-bottom: 125px;">
    <div class="col-sm-7 col-sm-offset-1">
        <img class="img-responsive imgBorder" src="~/Content/images/CashFlowWeek.jpg" />
    </div>
    <div class="col-sm-3" style="padding-top:10%;">
        <h1 class="text-center greyblueCOLOR">Weekly Cash Flow</h1>
        <h3 class="text-center lightgreyCOLOR">View all of your income and expenses for each week</h3>
        <ul>
            <li class="font150">Know exactly what your bank account balances will be at the end of each week.</li>
        </ul>
    </div>    
</div>
