
<div class="container container-fluid">
    <div class="jumbotron whiteBACKGROUND">
        <h1 class="text-center greyblueCOLOR">Please confirm your email address</h1>
        <p class="text-center blackCOLOR">A confirmation email has been sent to you. You must confirm your email address before signing in.</p>
    </div>
</div>

