
<div class="jumbotron whiteBACKGROUND" st>
    <h1 class="text-center greyblueCOLOR">Cash Flow Organizer (Blake's Version!)</h1>
    <p class="text-center blackCOLOR">Why stress about money? Manage your personal finances without the hassle.</p>
</div>

<div class="col-sm-12 noPadding" style="margin-bottom: 50px;">
    <div class="col-sm-4 col-sm-offset-2">
        <a href="@Url.Action("Index", "LearnMore")" class="btn btn-lg btn-block btnHover whiteCOLOR orangeredBACKGROUND roundBORDER">Learn More</a>
    </div>

    <div class="col-sm-4">
        <a href="@Url.Action("Index", "SignUp")" class="btn btn-lg btn-block btnHover whiteCOLOR orangeredBACKGROUND roundBORDER">Sign Up - Free To Use</a>
        @*<h3 class="text-center lightgreyCOLOR">Only $4.95 a month</h3>*@
    </div>

</div>

<div class="col-sm-12 noPadding" style="margin-bottom: 125px;">
    <div class="col-sm-3 col-sm-offset-1" style="padding-top:7%;">
        <h1 class="text-center greyblueCOLOR">A Simple And Easy Solution</h1>
        <h3 class="text-center lightgreyCOLOR">To Make Life A Little Less Stressful</h3>
        <ul>
            <li class="font150">Know exactly what your bank account balances will be at any given date in the future.</li>
            <li class="font150">Know exactly when your expenses will occur and how your bank account balances will be affected.</li>
            <li class="font150">Tight on money? Know exactly when your bank account balances will be low or in the negative, months before hand.</li>
        </ul>
    </div>
    <div class="col-sm-7">
        <img class="img-responsive imgBorder" src="~/Content/images/DashboardRevised.jpg" />
    </div>
    
</div>
