
<div class="container container-fluid">
    <div class="jumbotron whiteBACKGROUND">
        <h1 class="text-center greyblueCOLOR">Thank you! Email Confirmed</h1>
        <p class="text-center blackCOLOR">You may now sign in to your account.</p>
    </div>
</div>
