

    <div class="col-sm-12 topMargin40 noPadding">

        <div class="col-sm-6 col-sm-offset-3 noPadding">

            <div class="panel panel-main greyblueBACKGROUND">
                <div class="panel-heading text-center font150 whiteCOLOR greyblueBACKGROUND">Settings</div>
                <div class="panel-body">

                    <div class="text-center">
                        <a href="@Url.Action("ManageUsers","Settings")" class="btn btn-block whiteCOLOR greyblueBACKGROUND btnHover font125">Manage Users</a>
                        <a href="@Url.Action("AddRole","Settings")" class="btn btn-block whiteCOLOR greyblueBACKGROUND btnHover font125">Add Role</a>
                    </div>

                </div>
            </div>


        </div>

    </div>





